<%- include('../partials/head.ejs') %>
		<link rel="stylesheet" href="/styles/css/player-detail.css">
	</head>

	<body>
		<%- include('../partials/navbar.ejs') %>

			<main>
				<div class="main-container container-fluid mt-4">
          <div class="row w-100 m-0">
            <div class="col-5 image-container p-0">
              <img src="<%= player.imageUrl %>" alt="">
            </div>
            <div class="col-7 container-fluid content d-flex flex-column align-items-end">
              <div class="player-property row w-100">
                <h3 class="m-0 col-4">Tên</h3>
                <h3 class="m-0 col-7 fw-bold"><%= player.name%></h3>
                <div class="col-1 d-flex">
                  <%  if (player.isCaptain) { %>
                    <i class="bi bi-bookmark-star-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="This player is captain"></i>
                  <% }%>
                </div>
              </div>
              <div class="player-property row w-100">
                <h3 class="m-0 col-4">Câu lạc bộ</h3>
                <h3 class="m-0 col-8 fw-bold"><%= player.club %></h3>
              </div>
              <div class="player-property row w-100">
                <h3 class="m-0 col-4">Quốc tịch</h3>
                <h3 class="m-0 col-8 fw-bold"><%= player.nation %></h3>
              </div>
              <div class="player-property row w-100">
                <h3 class="m-0 col-4">Vị trí</h3>
                <h3 class="m-0 col-8 fw-bold"><%= player.position%></h3>
              </div>
              <div class="player-property row w-100">
                <h3 class="m-0 col-4">Số bàn thắng</h3>
                <h3 class="m-0 col-8 fw-bold"><%= player.goals%></h3>
              </div>
              <div class="mt-4">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Xóa
                </button>
                <a href="/players/edit-player/<%= player.id %>" class="btn btn-warning">Chỉnh sửa</a>
              </div>
            </div>
          </div>
        </div>
			</main>
      <%- include('../partials/tooltip.ejs') %>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Xóa cầu thủ</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Xác nhận xóa cầu thủ <%= player.name %>?</p>
            </div>
            <div class="modal-footer">
              <form action="/players/remove-player/<%= player.id %>" method="POST" class="d-inline-block">
                <input type="hidden" name="id" value="<%= player.id %>">
                <button class="btn btn-danger">Xóa</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
          </div>
        </div>
      </div>
	</body>
</html>