<%- include('../partials/head.ejs') %>
		<link rel="stylesheet" href="/styles/css/players.css">
	</head>

	<body>
		<%- include('../partials/navbar.ejs') %>



		<main>
			<h3 class="mt-4">Danh sách cầu thủ</h3>
			<!-- <form>
				<input type="text" id="search-input" name="search-input">
				<button type="button" id="search-button">Search</button>
			</form> -->

			<div class="filters" id="filters">
				<select name="clubFilter" id="club-filter" class="form-control">
					<option value="All">Tất cả CLB</option>
					<option value="Manchester United">Manchester United</option>
					<option value="Manchester City">Manchester City</option>
					<option value="Liverpool">Liverpool</option>
				</select>

				<select name="nationFilter" id="nation-filter" class="form-control">
					<option value="All">Tất cả quốc tịch</option>
					<% nations.forEach((nation) => { %>
						<option value="<%= nation.name %>"><%= nation.name %>	</option>
					<% }) %>
				</select>

				<select name="positionFilter" id="position-filter" class="form-control">
					<option value="All">Tất cả vị trí</option>
					<option value="Thủ môn">Thủ môn</option>
					<option value="Trung vệ">Trung vệ</option>
					<option value="Hậu vệ quét">Hậu vệ quét</option>
					<option value="Hậu vệ cánh">Hậu vệ cánh</option>
					<option value="Hậu vệ cánh tấn công">Hậu vệ cánh tấn công</option>
					<option value="Tiền vệ">Tiền vệ</option>
					<option value="Tiền vệ phòng ngự">Tiền vệ phòng ngự</option>
					<option value="Tiền vệ trung tâm">Tiền vệ trung tâm</option>
					<option value="Tiền vệ chạy cánh">Tiền vệ chạy cánh</option>
					<option value="Tiền vệ tấn công">Tiền vệ tấn công</option>
					<option value="Tiền đạo cắm">Tiền đạo cắm</option>
					<option value="Tiền đạo trung tâm">Tiền đạo trung tâm</option>
					<option value="Hộ công">Hộ công</option>
					<option value="Tiền đạo cánh">Tiền đạo cánh</option>
				</select>

				<select name="isCaptainFilter" id="is-captain-filter" class="form-control">
					<option value="All">Tất cả chức danh</option>
					<option value="true">Đội trưởng</option>
					<option value="false">Không phải đội trưởng</option>
				</select>
			</div>

			<% if (isAdmin) { %>
				<a href="/players/add-player" class="btn btn-primary mt-2">+ Thêm cầu thủ</a>
			<% } %>
			<div class="mt-4" id="player-list-container">
				<%- include('../partials/players/player-list.ejs', {players: players}) %>
			</div>
		</main>

		<script>
			const searchFunction = (data) => {
				let htmlString = `<div class="player-list">`;

				data.forEach(player => {
					htmlString +=
						`
							<div class="player-item p-3">
								<div class="image-container">
									<a href="/players/${player._id}">
										<img src="${player.imageUrl}" alt="">
									</a>
								</div>
								<div class="content pt-3">
									<div class="">
										<h3 class="m-0 mb-1">${player.name}</h3>
										<p class="m-0">${player.club}</p>
									</div>
								</div>
							</div>
	
						`
				});

				htmlString += `</div>`

				$('#player-list-container').html(htmlString);
			};

			const onChange = (e) => {
				e.preventDefault();

				let searchInput = '';
				let clubFilter = 'All';
				let positionFilter = 'All';
				let isCaptainFilter = 'All';

				searchInput = $('#search-input').val();
				clubFilter = $('#club-filter').find(":selected").val();
				nationFilter = $('#nation-filter').find(":selected").val();
				positionFilter = $('#position-filter').find(":selected").val();
				isCaptainFilter = $('#is-captain-filter').find(":selected").val();

				$.ajax({
					url: '/players/search',
					type: 'POST',
					data: { searchInput: searchInput, clubFilter: clubFilter, nationFilter: nationFilter, positionFilter: positionFilter, isCaptainFilter: isCaptainFilter },
					success: searchFunction,
				});
			}

			$(document).ready(function () {
				// searchInput = document;

				$('#search-input').keyup(function (e) {
					onChange(e);
				});

				$('#club-filter').change(function (e) {
					onChange(e);
				});

				$('#nation-filter').change(function (e) {
					onChange(e);
				});

				$('#position-filter').change(function (e) {
					onChange(e);
				});

				$('#is-captain-filter').change(function (e) {
					onChange(e);
				});
			});

			window.onload = () => {
				let searchInput = '';
				let clubFilter = 'All';
				let positionFilter = 'All';
				let isCaptainFilter = 'All';

				searchInput = $('#search-input').val();
				clubFilter = $('#club-filter').find(":selected").val();
				nationFilter = $('#nation-filter').find(":selected").val();
				positionFilter = $('#position-filter').find(":selected").val();
				isCaptainFilter = $('#is-captain-filter').find(":selected").val();

				$.ajax({
					url: '/players/search',
					type: 'POST',
					data: { searchInput: searchInput, clubFilter: clubFilter, nationFilter: nationFilter, positionFilter: positionFilter, isCaptainFilter: isCaptainFilter },
					success: searchFunction,
				});
			}
		</script>
			
	</body>
</html>