<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/css/auth.css">
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>

      <main>
          
          <form class="login-form mt-4 d-flex flex-column align-items-center" action="/accounts/edit-account/<%= user._id %>" method="POST">
                <% if (errorMessage) { %>
                    <div class="error-message mb-3"><%= errorMessage %></div>
                <% } %>
              <div class="w-50">
                  <label class="d-block" for="email">Email</label>
                  <input 
                      class="d-block w-100 mt-1"
                      type="email" 
                      name="email" 
                      id="email" 
                      value="<%= user.email %>">
              </div>
              <div class="w-50 mt-3">
                  <label class="d-block" for="password">Mật khẩu</label>
                  <input 
                      class="d-block w-100 mt-1"
                      type="password" 
                      name="password" 
                      id="password" 
                      >
              </div>
              <div class="w-50 mt-3">
                  <label class="d-block" for="confirmPassword">Xác nhận mật khẩu</label>
                  <input 
                      class="d-block w-100 mt-1"
                      type="password" 
                      name="confirmPassword" 
                      id="confirmPassword" 
                      >
              </div>
              <div class="w-50 mt-3">
                <label class="d-block" for="password">Tên</label>
                <input 
                    class="d-block w-100 mt-1"
                    type="text" 
                    name="name" 
                    id="name" 
                    value="<%= user.name %>">
            </div>

            <div class="w-50 mt-3">
                <label class="d-block" for="password">Năm sinh</label>
                <input 
                    class="d-block w-100 mt-1"
                    type="text" 
                    name="yearOfBirth" 
                    id="yearOfBirth" 
                    value="<%= user.yearOfBirth %>">
            </div>

              <button class="btn btn-primary mt-4 w-25" type="submit">Cập nhật</button>
          </form>
      </main>
  </body>
</html>