<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/css/nations.css">
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %> 
    <main>
      <div class="container-fluid mt-4">
        <div class="row">
          <%- include('../partials/nations/nation-list.ejs') %>
          <div class="col-8 position-relative add-nation-form-container">
            <h3 class="mb-4">Chỉnh sửa <%= nation.name %></h3>
            <form action="/nations/edit-nation/<%= nation.id %>" method="POST"
              class="w-100 d-flex align-items-end flex-column">
              <input type="text" id="name" name="name" class="form-control mb-2" placeholder="Tên" value="<%= nation.name %>">
        
              <input type="text" id="description" name="description" class="form-control mb-2" placeholder="Mô tả"
                value="<%= nation.description %>">
        
              <button type="submit" class="btn btn-sm btn-primary mt-2">Lưu</button>
            </form>
  
            <!-- Player list -->

          </div>
        </div>
      </div>
    </main>
  </body>
</html>