<%- include('../partials/head.ejs') %>
		<link rel="stylesheet" href="/styles/css/nations.css">
		<link rel="stylesheet" href="/styles/css/players.css">
	</head>

	<body>
		<%- include('../partials/navbar.ejs') %>

      <main>
        <div class="container-fluid mt-4">
          <div class="row">
            <%- include('../partials/nations/nation-list.ejs') %>
            <div class="col-8 position-relative nation-detail-container p-4">
              <div class="position-absolute buttons">
                <form action="/nations/remove-nation/<%= nation.id %>" method="POST" class="d-inline-block">
                  <input type="hidden" name="id" value="<%= nation.id %>">
                  <button class="btn btn-danger">Xóa</button>
                </form>
                <a href="/nations/edit-nation/<%= nation.id %>" class="btn btn-warning">Chỉnh sửa</a>
              </div>
              <div>
                <h2 class="m-0 mb-2">
                  <%= nation.name %>
                </h2>
                <p class="m-0">
                  <%= nation.description %>
                </p>
                
                <h5 class="fw-bold mt-4">Các cầu thủ</h5>
                <!-- Player list -->
                <div class="mt-2">
                  <%- include('../partials/players/player-list.ejs', {players: players}) %>
                </div>
                <p class="text-secondary"><%= players.length == 0 ? '(Chưa có cầu thủ nào)' : ''%></p>
              </div>
            </div>
          </div>
        </div>
      
      </main>
	</body>
</html>